body {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(31, 31, 31);
}

.game-container {
    display: flex;
    justify-self: center;
    align-self: center;
    /* background-color: rgb(131, 131, 131); */
    background-color: rgb(49, 49, 49);
    height: 650px;
    width: 800px;
}

#input {
    position: absolute;
    bottom: 50px;
    font-size: 20px;
    padding: 3px;
    background: grey;
    border: none;
    opacity: 90%;
    text-align: center;
    color: rgb(43, 43, 43);
}

#input:focus {
    outline: none;
}