* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: rgb(31, 31, 31);
}

.game-container {
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;
    /* background-color: rgb(0, 0, 77); */
    background-color: rgb(36, 36, 36);
    height: 650px;
    width: 1050px;
}

.game-info {
    width: 150px;
    background: rgb(36, 36, 36);
}

#input {
    position: absolute;
    bottom: 50px;
    left: 450px;
    font-size: 20px;
    padding: 3px;
    background: grey;
    border: none;
    opacity: 90%;
    text-align: center;
    color: rgb(43, 43, 43);
}

.game-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#input:focus {
    outline: none;
}

.score {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 75px;
    width: 150px;
    background: transparent;
    position: absolute;
    right: 26px;
    top: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.score > :first-child {
    color: whitesmoke;
}

.score-info {
    background: grey;
    height: 40px;
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.skills {
    text-align: center;
    height: 340px;
    width: 120px;
    background: transparent;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.skills > :first-child {
    font-size: 20px;
    margin-top: 11px;
    color: whitesmoke;
}

.skill-names {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background: grey;
    height: 288px;
    /* justify-content: space-evenly; */
}

.bomb {
    color: rgb(196, 0, 0);
    margin-top: 7px;
}

.health {
    color: rgb(0, 196, 0);
    margin-top: 7px;
}

.slow {
    color: rgb(0, 0, 196);
    margin-top: 7px;
}

.lives {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 75px;
    width: 120px;
    background: transparent;
    margin-left: 30px;
}

.lives > :first-child {
    color: whitesmoke;
}

.lives-info {
    background: grey;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.start-screen {
    position: absolute;
    height: 650px;
    width: 1050px;
    z-index: 3;
    background: rgb(43, 43, 43);
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s ease-out;
    flex-direction: column;
}

.start-screen:hover {
    cursor: pointer;
}

.start-screen > * {
    font-size: 50px;
    color: rgb(196, 196, 196);
}

.start-screen.effect {
    opacity: 0%;
    -webkit-transition: opacity 0.5s ease-out;
    pointer-events: none;
}

.start-screen.effect:hover {
    cursor: none;
}

.game-over {
    opacity: 0%;
    -webkit-transition: opacity 0.5s ease-out;
    position: absolute;
    pointer-events: none;
}

.game-over.effect {
    position: absolute;
    height: 650px;
    width: 1050px;
    z-index: 3;
    background: rgb(43, 43, 43);
    opacity: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: opacity 0.5s ease-out;
    flex-direction: column;
    font-size: 50px;
    justify-content: space-evenly;
    color: rgb(196, 196, 196);
}

.instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions :nth-child(2) {
    display: flex;
    text-align: center;
    display: flex;
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.speed-type {
    font-size: 24px;
    margin-left: 21px;
    color: whitesmoke;
}

